language: python
dist: trusty
sudo: required
github_token: $GITHUB_TOKEN

python:
- '3.5'

before_install:
- pip install -U pip
- pip install -U setuptools
- pip install -r requirements.txt

script:
- git checkout source
- make html

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  fqdn: kernelgo.org # This updates the repository settings in GitHub and also adds a CNAME file in the master branch
  verbose: true

after_success:
- rm -rf .git/
- cd output
- git init
- git config user.name "Yori Fang"
- git config user.email "fangying2725@gmail.com"
- git config --global push.default simple
- echo "kernelgo.org" >> CNAME
- git add .
- git commit -m "latest release `date +"%Y-%m-%d %H:%M"`"
- git remote add upstream "https://${GITHUB_TOKEN}@github.com/fangying/fangying.github.io.git"
- git remote -v
- git branch -a
- git push --force upstream master:master
